$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;
$background: #0A1931;
$secondary-background: #2A3E5E;
$primary: #185ADB;
$secondary: #FFC947;
$off-white: #EFEFEF;

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
  background-color: $background;
  color: $off-white;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
}

.CitySearch,
.NumberOfEvents {
  display: flex;
  flex-direction: column;
  flex-basis: 300px; 
  max-width: 300px;
  margin: 4% auto 3%;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 43px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
  color: #000;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event-container {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
  // border: 1px solid #ccc;
  background: $secondary-background;
  border-radius: 4px;
  position: relative;
}

.show-hide-btn {
  display: inline-block;
  padding: 7px 12px;
  font-size: 110%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: $off-white;
  background-color: $secondary;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

.show-hide-btn:hover {background-color: #ffc847d0}

.show-hide-btn:active {
  background-color: #ffc8476e;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

// .numberOfEvents {
//   width: 200px;
//   margin: 20px auto;
//   text-align: center;
// }

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  position: absolute;
  bottom: 30px;
  font-size: 85%;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}



.privacy {
  padding-bottom: 20px;
  font-size: 85%;
}




@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
}

